* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #f8f9fa;
}

body {
  background-color: #415d43;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 10px;
}
h1 {
  width: 100%;
  max-width: 480px;
  margin: 15px 0;
  color: var(--background-light);
  text-align: center;
}
.phone-container {
  position: relative;
  background-color: var(--background-light);
  width: 250px;
  height: 460px;
  margin: 30px auto;
  border-radius: 15px;
  border: 15px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-background {
  background-color: black;
  width: 100%;
  height: 25px;
}

.phone-camera {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto;
}

label {
  margin: 10px auto 5px;
  font-weight: 500;
}

#results-div {
  overflow-y: auto;
  padding: 0 10px;
  text-align: center;
  height: 265px;
  width: 100%;
  background-color: var(--background-light);
}
#user-input {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  height: 42px;
  font-size: 16px;
}

.phone-footer {
  background-color: black;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-styles {
  cursor: pointer;
  width: 100px;
  margin: 10px;
  color: #0a0a23;
  font-size: 18px;
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff, #737f8a);
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 4px;
}

.results-text {
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
  margin: 10px 0;
}
